.content {
  min-height: 100rem;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  &:before {
    content: " ";
    background-color: #000;
    opacity: 0.35;  
    position: absolute;
    height: 100%;
    width: 100%;
  }
}